.preloader {
  display: flex;
  flex-direction: column;
  position: relative;

  &__placeholder {
    position: absolute;
    font-size: 100px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
}
