CLIENT_PORT=3000
SERVER_PORT=3001
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
CI=false
MONGO_PORT=27017
HOST=my-app.localhost.ya-praktikum.tech
TELEGRAM_TOKEN=6156431237:AAFLs0a4949cnzTw4KG9eGtOxhVJnEyiJJ8
TELEGRAM_CHAT_ID=@pl_test2023
YOOKASSA_ID="987618"
YOOKASSA_TOKEN="test_t7wPl1nXNu3c8U5BSNLAHybPwa6B4t45Qq8jpL3i2lQ"
