@import "../../global/styles/mixins.scss";

.container {
  height: 856px;
  width: 624px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include form-wrapper;
}

.header {
  display: flex;
  justify-content: space-between;
}

.content {
  height: 100%;
}

.active {
  display: flex;
  gap: 22px;
}

.input {
  flex-grow: 1;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
}
