.root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__formWrapper {
    width: 340px;
    height: 450px;
    box-shadow: 0px 0px 6px #00000024;
    border-radius: 12px;
  }
  & label{
    color:white;
  }
}
.background{
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}